html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;

}

html,
body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {

	overflow-X: hidden;
	background-color: #fff;
	min-width: 320px;
	font-size: 14px;
	line-height: 171%;
	@extend %hel-regular;
}

input {
	border: inherit;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	display: inline-block;
	transition: $transition;
	color: inherit;

}

p {
	padding: 0;
	margin: 0;

}

figure {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}



button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
	box-shadow: none;

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
	max-width: 976px;
	padding: 0 16px 0 40px;
	width: 100%;
}

.container-fluid {
	max-width: 1281px;
	width: 100%;
	margin: 0 auto;
}

.main {
	flex: 1 1 auto;
	margin-left: 280px;
}

.footer {
	flex: 0 1 auto;
}


.sidebar {
	position: fixed;
	width: 280px;
	z-index: 100;
	padding: 0 0 168px 0;
	box-shadow: $menuShadow;
	top: 0;
	background-color: #fff;


	&__top {
		padding: 14px 20px 14px 16px;
		background-color: #fff;
	}

	&__top {
		.navbar-toggler {
			display: none;
		}
	}

	&__inner.collapsing {
		transition: width 0s linear !important;
	}

	&__inner.collapse {
		transition: all 2s linear;
	}

}

.location {
	padding-left: 28px;

	&::before {
		left: 0;
		top: 0;
		font-size: 24px;
	}

	&:hover,
	&:active {
		color: $pink;
	}
}

.logo {

	&__img {
		max-width: 120px;
		width: 100%;
		object-fit: cover;
	}
}

.btn-arrow {
	&::before {
		font-size: 24px;
		right: 0;
		top: 0;
	}
}

.menu {

	height: 100%;
	padding-top: 24px;
	position: relative;

	&__item {

		margin-bottom: 4px;
		transition: $transition;

		&:hover {
			background-color: $light-pink;


		}
	}

	&__item-btn {
		padding: 6px 52px 6px 52px;
		font-size: 14px;
		line-height: 171%;
		color: $main-text;

		&::after,
		&::before {
			top: 2px;
			font-size: 28px;
		}

		&::before {

			right: 16px;
		}

		&::after {
			left: 16px;
		}
	}

	&__item-line {
		background-color: $grey-lines;

	}

	.dropdown {
		left: -3px;
		padding: 40px 0 0;
		width: 280px;
		z-index: -1;
		background-color: #fff;
		height: 100vh;
		box-shadow: $menuShadow;


		&__item-title {
			margin-bottom: 16px;
			padding: 0 16px;
			font-size: 24px;
			line-height: 133%;
			@extend %hel-bold;

			.menu__item-btn {
				display: none;
			}
		}

		&__link {
			padding: 8px 16px;
			@extend %hel-regular;
			font-size: 14px;
			line-height: 171%;
			color: $main-text;
			margin-bottom: 4px;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				background-color: $light-pink;
			}
		}
	}


}


.form-select {
	cursor: pointer;
	color: $main-text;
	background-color: #fff;
	background-image: url("../images/icons/arrow-down.svg");
	background-size: 24px 24px;
	padding: 0 32px 0 0;
	background-color: $grey-fills;
	border: none;
	border-radius: none;
	transition: border-color none, box-shadow none;

	&:focus {
		border-color: none;
		outline: 0;
		box-shadow: none;
	}
}

.account {

	padding-left: 28px;
	margin: 0 24px 0 auto;

	&::before {
		font-size: 24px;
		left: 0;
		top: 0;
	}
}

.account,
.cart {

	@extend %hel-regular;
	font-size: 14px;
	color: $main-text;
	height: 28px;
	flex: 0 0 auto;

	&:hover {
		color: $pink;
	}
}

.cart {
	padding-left: 32px;

	&:hover {
		.cart__icon::before {
			color: $pink;
		}
	}

	&__icon {
		left: 0;
		top: 0;
		font-size: 24px;

		&::before {

			transition: $transition;
		}
	}

	&__quantity {
		color: #fff;
		@extend %hel-bold;
		font-size: 12px;
		background-color: $pink;
		@include border (1, #fff);
		border-radius: 100px;
		border: 1px solid #fff;
		padding: 2px 4px 2px;
		top: -5px;
		left: 11px;
		position: absolute;
		line-height: 10px;
	}

	&:hover {
		&:before {
			color: $pink;
		}
	}

}

.phone__link {

	position: relative;
	padding-left: 36px;

	&::before {
		font-size: 28px;
		left: 0;
		top: -3px;
	}

	&hover,
	&active {
		color: $pink;
	}
}


.info {
	display: none;
	padding: 0 8px 8px;

	&__item {
		margin-bottom: 8px;
	}

	&__descr {
		margin-bottom: 2px;
		font-size: 12px;
		line-height: 133%;
		color: $grey-text;
	}

	&__text {
		opacity: 0.9;
		line-height: 133%;
		font-size: 12px;

	}
}

.item-product {
	background-color: #FFFFFF;
	@include border(1, $grey-lines);
	transition: $transition;
	border-radius: $radius;
	display: grid;
	grid-template-rows: 168px 1fr auto;
	position: relative;

	&:hover {
		@include border(1, $pink);
		box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);

		.item-product__colors {
			opacity: 1;
		}
	}

	&__head {
		position: relative;
		margin-bottom: 8px;
		overflow: hidden;
	}

	&__labels {
		position: absolute;
		right: -1px;
		top: -1px;
		z-index: 10;
	}

	&__label {
		position: relative;
		border-radius: 8px 8px 8px 0px;
		// padding: 10px 8px 10px 28px;
		padding: 10px 8px;
		color: #fff;
		font-size: 12px;
		@extend %hel-bold;
		line-height: 100%;

		span {
			padding-left: 18px;
		}

		span::before {
			font-size: 16px;
			left: 8px;
			top: 8px;
			width: 16px;
			height: 16px;
		}
	}

	&__label--warning {
		background-color: $warning;
	}

	&__label--success {
		background-color: $success;
	}

	&__label--danger {
		background-color: $danger;
	}

	&__images {
		position: relative;

		width: 100%;
	}

	&__img {
		max-width: 224px;
		width: 100%;
		object-fit: cover;
		margin: 0 auto;
	}

	&__colors {
		display: flex;
		position: absolute;
		left: 11px;
		bottom: 12px;
		right: auto;
		z-index: 30;
		opacity: 0;
		transition: $transition;
		margin: 0;
	}

	.carousel-indicators [data-bs-target] {
		width: 12px !important;
		height: 12px !important;
		object-fit: none;
		border-radius: 50%;
		object-position: center;
		cursor: pointer;
		margin-right: 8px;
	}

	&__body {
		padding: 0 8px;
		display: grid;
		grid-auto-rows: 1fr 1fr auto;

	}


	&__title {
		font-size: 14px;
		line-height: 171%;
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 16px;
	}

	&__price {
		font-size: 22px;
		@extend %hel-bold;
	}

	&__price-old {
		font-size: 12px;
		color: $grey-text;
		text-decoration-line: line-through;
		line-height: 145%;

	}

	&__stock {
		margin-bottom: 8px;
	}

	&__stock-link {
		font-size: 12px;
		position: relative;
		padding: 0 0 0 20px;

		&:hover {
			color: $pink;
		}

		&::before {
			width: 16px;
			height: 16px;
			top: 2px;
			left: 0;
		}
	}

}

.product-controls {
	position: relative;

	&__btn {
		@extend %hel-bold;
		padding: 12px 16px;
		@include border(1, $pink);
		font-size: 12px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $pink;
		border-radius: 8px;
		transition: $transition;
		max-width: 85px;

		&:hover,
		&:active {
			background-color: $pink;
			color: #FFFFFF;
		}
	}


	&__icon {
		position: absolute;
		width: 24px;
		height: 24px;
		border-radius: 4px;
		top: 50%;
		transform: translateY(-50%);
		transition: $transition;
		cursor: pointer;
		display: none;

		&::before {
			font-size: 24px;
			transition: $transition;
		}

		&:hover {
			background-color: $light-pink;

			&::before {
				color: $pink;
			}
		}
	}

	.btn__minus {
		left: 6px;
		margin-right: 20px;

	}

	.btn__plus {
		right: 6px;
	}

	&__mob {
		display: none;
		position: relative;
		padding: 10px 9px;
		width: 40px;
		height: 40px;
		border: 2px solid $pink;

		&::before {
			font-size: 20px;
			width: 20px;
			height: 20px;
			top: 8px;
			left: 8px;

		}
	}

}


.product-controls.active {
	.product-controls__icon {
		display: block;
	}

	.product-controls__btn {
		color: $pink;
		cursor: context-menu;
		padding: 12px 35px;

		&:hover {
			background-color: #fff;
		}
	}
}